body {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    justify-content: center;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    max-width: fit-content;
}

.image {
    border-radius: 20px 20px 0px 0px;
}

.plan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blue_box {
    display: flex;
    background-color: blue;
    color: cornsilk;
    /* max-width: 60%; */
    border-radius: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}